@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

html {
    font-size: 62.5%;
}


/***********
 landing pik
*********/

.main {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/landing.jpg);
    background-position: center;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}


/**************
Navbar
****************/

.navbar {
    font-size: 2rem;
}

.nav-link {
    color: white !important;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
}

.navbar-light .navbar-toggler {
    color: #9e9e9e;
    background: #c5afaf;
    border-color: #9e9e9e;
}

.brandimg {
    width: 72px;
    height: 70px;
    border-radius: 70%;
}

.navbar-toggler {
    font-size: 3rem;
}

.navbar-collapse {
    background: #414242;
    z-index: 444;
}


/****** eye logo for pssword****/

#closeEye {
    display: none;
}


/********************
 Hero section
 **********************/

.content {
    position: absolute;
    width: 94%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.introBox {
    color: white;
    font-family: "PT Sans", sans-serif;
}

.title h1 {
    font-size: 7rem;
    text-align: left;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
}

.subcontent {
    font-size: 3rem;
    text-align: left;
    font-weight: 700;
}

.getStarted {
    background-color: #305cc0;
    padding: 11px 0;
    color: white;
    font-size: 2rem;
    font-weight: 500;
}


/****************
Sign in  page Css para
**************/

.askPara {
    font-weight: 600;
    font-size: 1.5rem;
}

.askPara span {
    color: orange;
}

.signin_img {
    width: 80%;
    height: 94vh;
    ;
}

.customer,
.marketer span {
    font-size: 1.8rem;
    font-weight: 600;
}

.customer:hover,
.marketer:hover {
    color: blue;
}

.right-title h2 {
    font-size: 3.4rem;
    font-weight: 400;
}

.right-title p {
    font-size: 1.5rem;
    font-weight: 400;
}

.form input {
    padding: 5px 46px;
    width: 85%;
    border-radius: 5px;
    background: #E5E5E5;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 9px 0;
}

.forgotPass {
    width: 75%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: .9rem;
}

.forgotLink {
    color: orangered;
    font-weight: 600;
}

.icon {
    width: 9%;
    position: absolute;
    margin: 8px 39px;
}

.icon svg {
    width: 2rem;
    margin-top: 1rem;
}

.eye {
    text-align: center;
    width: 8%;
    position: absolute;
    left: 79%;
    margin-top: 18px;
    font-size: 1.5rem;
    color: grey;
}


/********************
media Querries
****************************/

@media (max-width: 780px) {
    html {
        font-size: 58%;
    }
    .brandimg {
        width: 47px;
        height: 48px;
        border-radius: 70%;
    }
    .navbar-nav {
        text-align: center !important;
    }
    .nav-item:hover {
        border-radius: 2px;
        background-color: #998888;
    }
}

@media (max-width: 470px) {
    html {
        font-size: 48%;
    }
    .signbox {
        display: none;
    }
}